/* #mainTable {
  overflow-x: auto;
} */

/* the table styles are loaded from the product.css page as they are the same  */
/* the bills style is taken from the products.css   status-out status-available status-pill*/
.userPhone {
  color: #454545;
}
/* General Layout */
@media (max-width: 1024px) {
  .user-details summary {
    display: flex;
    justify-content: space-between;
  }

  .action-icons {
    display: flex;
    justify-content: space-around;
  }
}
