
* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 820px;
  width: 100%;
  height: auto;
  background-color: rgba(245, 244, 237, 0.799);
}


#login {
  background-color: rgba(245, 244, 237, 0.799);
}

#login_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  font-size: 12px !important;
}

input:focus {
  box-shadow: 1px 1px 5px 1px rgb(167, 167, 167) !important;
}

button {
  font-size: 10px !important;
}

a,
p {
  font-size: 10px !important;
}

.px-6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

@media (max-width: 576px) {
  #login_img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
    object-fit: cover;
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    border: 4px solid rgb(12, 12, 12);
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }
}
.is-invalid {
  border-color: red !important; 
  color: red !important; 
}
.is-valid {
  border-color: green !important; 
  color: green !important; 
}
.font_error{
  margin-left: 5px;
  font-size: 12px;
}
