/* 
MARK: HomePage
*/
.sectionTitle {
  font-size: 2.4rm;
  text-align: center;
  font-family: Arial Black, sans-serif;
  margin: 50px auto 25px;
}

/* Header */
.navbar a {
  text-decoration: none;
}

.signUpSuggistionWrapper {
  font-size: 0.8rem;
}

.signUpSuggistionWrapper a {
  font-size: 0.9rem;
}

.navbareIconsWrapper {
  font-size: 1.5rem;
}

/* Hero */
.heroWrapper {
  height: 83vh;
  background-color: #f2f0f1;
}

.heroHeader {
  /* width: 65%; */
  font-size: 4rem;
  font-weight: bolder;
}

.rightSideContainer {
  height: 80vh;
  /* background-color: blue; */
}

/* products sections */
.pros-holder {
  text-align: center;
}

.other-pro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 85%;
  margin: auto;
}

.pro-card {
  text-align: left;
}

.pro-card img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}

.pro-card .rating {
  margin: 7px 0;
}

.pro-card .rating i {
  color: #ffd45e;
}

.pro-card p {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.pro-card h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.pro-card h2 s {
  color: #bbb;
  margin: 0 10px;
}

.pro-card h2 span {
  background-color: rgb(255, 226, 226);
  padding: 2px 10px;
  color: #d90b0b;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 300;
}

.pros-holder hr {
  width: 85%;
  margin: 30px auto;
  opacity: 0.1;
}

.pros-holder button {
  margin: 30px auto;
  padding: 8px 0;
  width: 20%;
  border: 1px solid #bbb;
  border-radius: 30px;
  background: transparent;
}

/* 
MARK: Cat Catalog
*/
.catWrapper {
  background-color: #f2f0f1;
}

.catCover {
  height: 40vh;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
}

.catCover:hover {
  cursor: pointer;
  opacity: 0.4;
}

.casualCat {
  background-position-y: 48%;
  background-image: url("../image/category4.jpg");
}

.formalCat {
  background-position-y: 30%;
  background-image: url("../image/category1.jpg");
}

.partyCat {
  background-image: url("../image/category2.jpg");
}

.gymCat {
  background-position-y: 43%;
  background-image: url("../image/category3.jpg");
}

/* Reviews */
.reviewSection {
  padding: 40px;
}

.review-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  /* width: 300px; */
  border: 1px solid gray;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.stars {
  color: gold;
  margin-bottom: 10px;
}

.reviewer {
  font-weight: bold;
  color: #333;
}

.verified {
  color: green;
  font-size: 1.1em;
}

.review-text {
  font-size: 0.95em;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .review-card {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

/* 
MARK: Main
*/
