/* 
MARK: HomePage
*/
* {
  margin: 0;
  padding: 0;
}

.sectionTitle {
  font-size: 2.4rm;
  text-align: center;
  font-family: Arial Black, sans-serif;
  margin: 50px auto 25px;
}
a {
  color: black;
  text-decoration: none;
}

/* 
MARK: Header 
*/
.signUpSuggistionWrapper {
  font-size: 0.8rem;
}

.signUpSuggistionWrapper a {
  font-size: 0.9rem;
}

.navbareIconsWrapper {
  font-size: 1.5rem;
}

/* 
MARK: Profile
*/
.dropdown-item:hover {
  background-color: #ddd;
}

#profileIcon::after {
  display: none !important;
}

/* 
MARK: Hero 
*/
.heroWrapper {
  height: 83vh;
  background-color: #f2f0f1;
}

.heroHeader {
  font-size: 4rem;
  font-weight: bolder;
}

.rightSideContainer {
  height: 80vh;
}

/*
MARK: Products
*/
.oldPrice {
  color: #bbb;
  margin: 0 10px;
}

.discountPercentage {
  padding: 2px 10px;
  color: #d90b0b;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: 300;
  background-color: rgb(255, 226, 226);
}

.viewallBtn {
  border: 1px solid #bbb;
  background: transparent;
}

/* 
MARK: Cat Catalog
*/
.catWrapper {
  background-color: #f2f0f1;
}

.catCover {
  height: 40vh;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
}

.catCover:hover {
  cursor: pointer;
  opacity: 0.4;
}

.casualCat {
  background-position-y: 48%;
  background-image: url("../image/category4.jpg");
}

.formalCat {
  background-position-y: 30%;
  background-image: url("../image/category1.jpg");
}

.partyCat {
  background-image: url("../image/category2.jpg");
}

.gymCat {
  background-position-y: 43%;
  background-image: url("../image/category3.jpg");
}

/* 
MARK: Reviews 
*/
.reviewSection {
  padding: 70px 0px;
}

.review-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  border: 2px solid rgba(201, 200, 200, 0.804);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.ratingContainer {
  width: 30%;
  display: flex;
  margin-bottom: 10px;
}

.ratingContainer i {
  color: #ffd45e;
}

.reviewer {
  font-weight: bold;
  color: #333;
}

.verified {
  padding: 1px 3px;
  font-size: 0.6em;
  background-color: green;
}

.review-text {
  font-size: 0.95em;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .review-card {
    width: 100%;
  }
}
