/* 
MARK: HomePage
*/
* {
  margin: 0;
  padding: 0;
}

.sectionTitle {
  font-size: 2.4rm;
  text-align: center;
  font-family: Arial Black, sans-serif;
  margin: 50px auto 25px;
}
a {
  color: black;
  text-decoration: none;
}

/* 
MARK: Header 
*/
.signUpSuggistionWrapper {
  font-size: 0.8rem;
}

.signUpSuggistionWrapper a {
  font-size: 0.9rem;
}

/* Search */
#searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
}

#searchResults.show {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

/* 
MARK: Profile
*/
.dropdown-item:hover {
  background-color: #ddd;
}

#profileIcon::after {
  display: none !important;
}

/* 
MARK: Hero 
*/
.heroLeftSideHeader {
  font-size: 4em;
}

/*
MARK: Products
*/
.viewallBtn {
  border: 1px solid #bbb;
  background: transparent;
}

.oldPrice {
  color: #6c757d;
  margin-left: 10px;
}

.discountPercentage {
  color: #d90b0b;
  margin-left: 10px;
  padding: 2px 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  background-color: rgb(255, 226, 226);
}

.ratingContainer {
  display: flex;
  align-items: center;
}

/* Horizontal scroll for New Arrivals on small screens */
@media (max-width: 767.98px) {
  #latestProducts {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  #latestProducts::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  #latestProducts .col-lg.col-sm-6 {
    flex: 0 0 250px;
    max-width: 250px;
  }
}

/* 
MARK: Cat Catalog
*/
.catWrapper {
  background-color: #f2f0f1;
}

.catCover {
  height: 40vh;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
}

.catCover:hover {
  cursor: pointer;
  opacity: 0.4;
}

.casualCat {
  background-position-y: 48%;
  background-image: url("../image/category4.jpg");
}

.formalCat {
  background-position-y: 30%;
  background-image: url("../image/category1.jpg");
}

.partyCat {
  background-image: url("../image/category2.jpg");
}

.gymCat {
  background-position-y: 43%;
  background-image: url("../image/category3.jpg");
}

/* 
MARK: Reviews 
*/
.reviewSection {
  padding: 70px 0px;
}

.review-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  border: 2px solid rgba(201, 200, 200, 0.804);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.ratingContainer {
  width: 30%;
  display: flex;
  margin-bottom: 10px;
}

.ratingContainer i {
  color: #ffd45e;
}

.reviewer {
  font-weight: bold;
  color: #333;
}

.verified {
  padding: 1px 3px;
  font-size: 0.6em;
  background-color: green;
}

.review-text {
  font-size: 0.95em;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .review-card {
    width: 100%;
  }
}
